@charset "UTF-8";

ul#menu .conc{
  width: 166.59px;
  height: 40px;
  background-image: url("../img/mokume2.jpg");
  border: 1px solid #000;
}

ul#menu li.conc a{
  font-size: 24px;
  color:#000;
}

#main .img{
  background-image: url("../img/egg3.jpg");
}
#home_moji{
  max-width: 1000px;
  width: 100%;
  margin: 20px 0;
}

#home_moji p,#home_moji h1{
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#home_moji h1.title{
  line-height: 100px;
  font-size: 2.2vw;
}


#home_moji p{
  font-size: 1.5vw;
}

#home_moji p.para{
  margin-bottom: 20px;
}

#home_moji p.line{
  margin-bottom: 20px;
}

#home_moji p.staff{
  margin-bottom: 20px;
}
